node_modules
.env
dist
coverage
*.txt
*.log
app/tsconfig.app.tsbuildinfo
app/tsconfig.app.tsbuildinfo
app/tsconfig.node.tsbuildinfo
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions